<!doctype html>
<html>
    <head>
        <link rel="stylesheet", type="text/css", href="{{ url_for('static',filename='styles/stylesheet.css') }}" />
        <title>Blogz</title>
    </head>
<body>
    <div class="clear"></div>
    <nav>
        <ul id="account">
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">All Posts</a></li>
            <li><a href="/newpost">New Post</a></li>
        </ul>
    </nav>
    <h1>{{ page_title }}</h1>
    {% block content %}

    {% endblock %}

</body>
</html>
