{% extends "base.html" %}

{% block content %}

    <h1>{{ page_title }}</h1>
    
    {% if user_blogs|length == 0 %}
        <p>No blogs yet</p>
    {% else %}
        {% for blog in user_blogs|sort(attribute='id', reverse = True) %}
            <h2><a href="blog?id={{ blog.id }}">{{ blog.title }}</a></h2>
            {{ blog.body }}
            <h5>written by (individualuser template): <a href="blog?id={{ blog.owner.id }}">{{ blog.owner.username }}</a></h5>
            <hr>
        {% endfor %}
    {% endif %}

{% endblock %}
