body {
    font-family: Verdana, san-serif;
}

.error {
    color: red;
}

nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav #account {
    float: right;
}

.clear {
    clear: both;
}

h1 {
    text-align: left;
}

textarea {
    height: 200px;
    width: 400px;
}

input[type="text"] {
    width: 400px;
}

input[type="password"] {
    width: 400px;
}